* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

.container {
  width: 90%;
  margin: 0 auto;
}

body {
  margin: 0;
}

.letters__group button {
  background-color: coral;
  color: white;
  padding: 0.3em;
  font-size: 1em;
  display: inline-block;
  border-radius: 1em;
  border: none;
  margin-left: 1em;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.nav__components {
  padding: 1em;
  border-bottom: 1px solid gray;
  display: inline-flex;
}

.nav__menu {
  display: flex;
  text-align: right;
}

.navbar__logo {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}

.nav__item {
  text-transform: uppercase;
  list-style: none;
  display: inline-block;
  justify-content: space-between;
}
.nav__item li a {
  text-decoration: none;
}

@media only screen and (max-width: 576px) {
  .nav__item li:first-child {
    display: none;
  }
}
.nav__items .input-menu {
  border-radius: 1rem;
}

.side__tags {
  border-bottom: 1px solid gray;
}
.side__tags ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  color: white;
}
.side__tags li {
  background-color: steelblue;
  padding: 0.5em;
  border-radius: 1em;
  margin-left: 0.2em;
}

@media only screen and (max-width: 1200px) {
  .side__tags ul {
    justify-content: center;
  }
}
.news {
  margin: 0.5em;
  cursor: pointer;
}

.news__body img {
  width: 100%;
}

.news__body p {
  margin-top: 2em;
}

@media only screen and (max-width: 576px) {
  .news__section {
    width: 50%;
    display: block;
    margin: auto;
  }
}
.footer__container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.news__letters {
  width: 100%;
  background-color: #f2f4f5;
  text-align: center;
  padding: 2em;
  clear: both;
}

.news__letters h2 {
  font-size: 2em;
}

.side__head {
  width: 100%;
  border-bottom: 1px solid gray;
}

.outstanding__news {
  margin-bottom: 5em;
}

@media only screen and (max-width: 800px) {
  .side__news {
    display: none;
  }
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media (min-width: 576px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 768px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-xl-12 {
    grid-column: span 12;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xl-6 {
    grid-column: span 6;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-3 {
    grid-column: span 3;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-1 {
    grid-column: span 1;
  }
}

/*# sourceMappingURL=style.css.map */
