// Botón barra de navegación
.nav__items .input-menu {
    border-radius: 1rem;
}

// Botón Sección suscripción
.letters__group button {
    background-color: coral;
    color: white;
    padding: 0.5em;
    border-radius: 1em;
    border: none;
    margin-left: 1em;
}
