// Barra de navegación
.nav {
    display: inline-block;
    text-align: right;
}
.nav__components {
    width: 74em;
    padding: 1em;
    border-bottom: 1px solid gray;
    display: inline-flex;
}

.nav__menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.navbar__logo {
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

.nav__item {
    width: 44%;
    text-transform: uppercase;
    list-style: none;
    display: flex;
    justify-content: space-between;
    li {
      a {
        text-decoration: none;
      }
    }
}
