.side__tags {
    border-bottom: 1px solid gray;
    ul {
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: flex-end;
      color: white;
    }
    li {
      background-color: steelblue;
      padding: 0.5em;
      border-radius: 1em;
      margin-left: 0.2em;
    }
}

//Media Querys para tags
@media only screen and (max-width: 576px) {
  .side__tags {
      ul {
        justify-content: center;
      }
  }
}
