// Menú lateral
.side__news {
    width: 220px;
    float: right;
}

.side__head {
    width: 220px;
    border-bottom: 1px solid gray;
}

.outstanding__news {
    margin-bottom: 50px;
}

.outstanding__news img {
    width: 220px;
    height: 200px;
}

.side__list {
  display: flex;
  justify-content: space-around;
  color: white;
  list-style: none;
}
.side__items {
 background-color: royalblue;
 padding: 0.5em;
 border-radius: 1em;
}
