// Menú lateral
.side__news {
    width: 23%;
    float: right;
}

.side__head {
    width: 100%;
    border-bottom: 1px solid gray;
}

.outstanding__news {
    margin-bottom: 50px;
}

.outstanding__news img {
    width: 13.75rem;
    height: 10.5rem;
}
