// Contenido con imagenes
.header__container {
    width: 960px;
    margin: 0 auto;
}

.news__section {
    width: 700px;
    float: left;
}

.news {
    width: 210px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

.news__body img {
    width: 210px;
    height: 300px;
}

.news__body p {
    padding: 5px 10px;
}
