// Contenido con imagenes
.header__container {
    width: 100%;
    margin: 0 auto;
}

.news__section {
    width: 80%;
    height: auto;
    float: left;
}

.news {
    width: 30%;
    display: inline-block;
    margin: 0.5em;
    cursor: pointer;
}

.news__body img {
    width: 100%;
}

.news__body p {
    margin-top: 2em;
}

// Media Querys para versión movil
@media only screen and (max-width: 992px) {
  .news__section {
    display: grid;
  }
}
