// Contenido con imagenes
.news {
    margin: 0.5em;
    cursor: pointer;
}

.news__img {
    width: 100%;
}

.news__body p {
    margin-top: 2em;
}

// Media Querys para versión movil
@media only screen and (max-width: 576px) {
  .news__section img {
    width: 50%;
    height: 22em;
    display: block;
    margin: auto;
  }
}
