// Sección nuevas noticias
.news__letters {
    width: 100%;
    background-color: #f2f4f5;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    clear: both;
}

.news__letters h2 {
    font-size: 2em;
}
